@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* colors: https://flatuicolors.com/palette/us */

body {
  margin: 0px;
  padding: 0px;
/*  background-image: url("../img/light_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;*/
/*  background-color: #2d3436*/
  background-image: linear-gradient(to right, #ffeaa7, #fdcb6e, #e17055);
}


/*__________________________________________________*/
div.appbox {

}
/*__________________________________________________*/

div.appbox {
  float: left;
  display: flex;
  align-items: center;
  padding: 20px;
}

img.icon {
  border-radius: 10px;;
  height: 60px;
}

img.appstore_button {
  height: 40px;
}

a.app_name {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}

img.socialmedia_icon {
  height: 30px;
  margin: 0 auto;
}

div.socialmedia {
  text-align: center;
  vertical-align: bottom;
}

/*img.screenshot {
  height: 500px;
  text-align: center;
}
*/
/* ist ja nur ein kommentar*/
